*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  inline-size: 1200px; 
  padding: 0 30px; 
  min-height: 100vh; 
  margin: auto; 
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.preloader {
  position: relative; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row; 
  align-items: flex-end; 
  inline-size: 100%;
  gap: 30px; 
  box-sizing: border-box; 
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 26px;
  font-family: 'Oswald', sans-serif;
}

.search-form {
  display: flex;
  flex-grow: 1; 
  justify-content: space-between; 
  /* width: 711px; */
  /* height: 54px; */
  margin-top: 16px;
}

.search-form__textfield {
  min-inline-size: 225px;
  min-block-size: 27px;
  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  font-family: inherit;
  font-size: inherit;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
  border-block-start: 1px solid transparent; 
  border-block-end: 1px solid transparent;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin-right: 40px;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;  
  flex-direction: row; 
  justify-content: flex-start;  
  align-items: center; 
  gap: 15px; 
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  display: flex; 
  align-items: center; 
  justify-content: center;  
  border: 0.8px solid #fff;
  background: transparent;
  position: relative; 
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: ''; 
  margin: auto; 
  width: 15px; 
  height: 15px; 
  background-color: #fff; 
}

.search-form__fieldset-title {
  font-weight: 400;
  font-family: inherit;
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
  margin-bottom: 5px;
}

.search-form__submit-button {
  min-width: 194px; 
  margin-top: 20px; 
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  padding: 5px;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  gap: 0px;
  margin-bottom: 16px;
  position: relative; 
  margin-top: 78px;
}

.result__video {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center
}

/* список карточек */

.content__list {
  position: relative;
  block-size: 298px;
  overflow: auto;
  padding: 2px;
}

.content__list-item:not(:last-of-type){
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-inline-size: 201px;
}

.content__video-card-title {
  margin-block-end: 6px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 2px;
  margin-left: 2px;
}

.content__video-card-description {
  line-height: .9;
  margin-top: 6px;
  margin-left: 2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
  min-block-size: 34px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start;
}

.content__accent {
  color: #545050;
}
